@page
@using System.Text.Json
@model Questionnaire_Frontend.Pages.AnswerQuestions;
@{
}
<!DOCTYPE html>
<html lang="">
<head>
    <title>AnswerQuestions</title>
    <link href="files/answerquestions/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <div id="base">
        <script>
            window.onload = function () {
                const baseUrl = "https://localhost:7000";

                let numOfQuestions = 0;
                let allquestionsandanswers = @Html.Raw(JsonSerializer.Serialize(Model.AllQuestionsAndAnswers));
                let allcriticalities = @Html.Raw(JsonSerializer.Serialize(Model.Criticality));
               
                for (let i = 0; i < allquestionsandanswers.length; i++) {
                    numOfQuestions++;
                }

                let lastDivTagValue = 0;

                for (let j = 0; j < numOfQuestions; j++) {
                    //DivContainer
                    let div = document.createElement("div");
                    div.id = "radioButtonContainer" + j;
                    div.className = "radio_button_group";
                    let marginTopVal = j;
                    div.style.marginTop = marginTopVal + "px";
                    document.body.appendChild(div);

                    //Criticality
                    const comboBox = document.createElement("select");
                    comboBox.className = "criticality";
                    
                    for (let i = 0; i < allcriticalities.length; i++) {
                       let options = document.createElement("option");
                       options.id = "criticality" + j;
                       options.textContent = allcriticalities[i];
                       if (i === 0) {
                           options.selected = true;
                           allquestionsandanswers[j].Criticality = allcriticalities[i];
                       } 
                       comboBox.appendChild(options);
                    }
                    comboBox.onchange = function () {
                       allquestionsandanswers[j].Criticality = this.value;
                    }
                    document.getElementById("radioButtonContainer" + j).appendChild(comboBox);

                    document.getElementById("radioButtonContainer" + j).append(document.createElement("p"));
                    //Question
                    let question = document.createElement("label");
                    question.id = "question" + j;
                    question.className = "question";
                    question.textContent = allquestionsandanswers[j].Question;
                    document.getElementById("radioButtonContainer" + j).appendChild(question);

                    document.getElementById("radioButtonContainer" + j).append(document.createElement("p"));
                    //Categorie
                    let categorie = document.createElement("label");
                    categorie.id = "categorie" + j;
                    categorie.className = "categorie";
                    categorie.textContent = allquestionsandanswers[j].Category;
                    document.getElementById("radioButtonContainer" + j).appendChild(categorie);

                    document.getElementById("radioButtonContainer" + j).append(document.createElement("p"));
                    //Radio Buttons
                    for (let i = 0; i < Object.keys(allquestionsandanswers[j].Answer).length; i++) {
                        let radioButton1 = document.createElement("input");
                        radioButton1.type = "radio";
                        radioButton1.name = "radioGroup" + j;
                        radioButton1.onchange = function (event) {
                            const newSelection = event.target.value;
                            
                            // console.log("Section: " + j + " " + newSelection);
                                                        
                            allquestionsandanswers[j].Answer.NotAnswered.Selected = false;
                            allquestionsandanswers[j].Answer.AnswerZero.Selected = false;
                            allquestionsandanswers[j].Answer.AnswerOne.Selected = false;
                            allquestionsandanswers[j].Answer.AnswerTwo.Selected = false;
                            allquestionsandanswers[j].Answer.AnswerThree.Selected = false;

                            
                            if (allquestionsandanswers[j].Answer.NotAnswered.Points + " " + allquestionsandanswers[j].Answer.NotAnswered.Answertext === newSelection) {
                                allquestionsandanswers[j].Answer.NotAnswered.Selected = true;
                            } else if (allquestionsandanswers[j].Answer.AnswerZero.Points + " " + allquestionsandanswers[j].Answer.AnswerZero.Answertext === newSelection) {
                                allquestionsandanswers[j].Answer.AnswerZero.Selected = true;
                            }
                            else if (allquestionsandanswers[j].Answer.AnswerOne.Points + " " + allquestionsandanswers[j].Answer.AnswerOne.Answertext === newSelection) {
                                allquestionsandanswers[j].Answer.AnswerOne.Selected = true;
                            }
                            else if (allquestionsandanswers[j].Answer.AnswerTwo.Points + " " +allquestionsandanswers[j].Answer.AnswerTwo.Answertext === newSelection) {
                                allquestionsandanswers[j].Answer.AnswerTwo.Selected = true;
                            }
                            else if (allquestionsandanswers[j].Answer.AnswerThree.Points + " " + allquestionsandanswers[j].Answer.AnswerThree.Answertext === newSelection) {
                                allquestionsandanswers[j].Answer.AnswerThree.Selected = true;
                            }
                        };
                        if (i === 0) {
                            radioButton1.value = allquestionsandanswers[j].Answer.NotAnswered.Points + " " + allquestionsandanswers[j].Answer.NotAnswered.Answertext;
                            radioButton1.checked = allquestionsandanswers[j].Answer.NotAnswered.Selected;
                        } else if (i === 1) {
                            radioButton1.value = allquestionsandanswers[j].Answer.AnswerZero.Points + " " + allquestionsandanswers[j].Answer.AnswerZero.Answertext;
                            radioButton1.checked = allquestionsandanswers[j].Answer.AnswerZero.Selected;
                        } else if (i === 2) {
                            radioButton1.value = allquestionsandanswers[j].Answer.AnswerOne.Points + " " + allquestionsandanswers[j].Answer.AnswerOne.Answertext;
                            radioButton1.checked = allquestionsandanswers[j].Answer.AnswerOne.Selected;
                        } else if (i === 3) {
                            radioButton1.value = allquestionsandanswers[j].Answer.AnswerTwo.Points + " " + allquestionsandanswers[j].Answer.AnswerTwo.Answertext;
                            radioButton1.checked = allquestionsandanswers[j].Answer.AnswerTwo.Selected;
                        }
                        else if (i === 4) {
                            radioButton1.value = allquestionsandanswers[j].Answer.AnswerThree.Points + " " + allquestionsandanswers[j].Answer.AnswerThree.Answertext;
                            radioButton1.checked = allquestionsandanswers[j].Answer.AnswerThree.Selected;
                        }

                        radioButton1.id = "radioButton" + (j + 1) + (i + 1);

                        let label1 = document.createElement("label");
                        label1.htmlFor = radioButton1.id;
                        label1.innerHTML = radioButton1.value;

                        document.getElementById("radioButtonContainer" + j).appendChild(radioButton1);
                        document.getElementById("radioButtonContainer" + j).appendChild(label1);
                        document.getElementById("radioButtonContainer" + j).appendChild(document.createElement("br"));
                    }

                    //Reason
                    let reason = document.createElement("textarea");
                    reason.id = "reason" + j;
                    reason.className = "textAreaGroup";
                    reason.placeholder = "Reason";

                    reason.onkeyup = function (event) {
                        allquestionsandanswers[j].Reason = document.getElementById('reason' + j).value;
                    };

                    document.getElementById("radioButtonContainer" + j).appendChild(reason);

                    lastDivTagValue = j;
                }
                //nextButton
                let next = document.createElement("button");
                next.id = "buttonNext";
                next.className = "buttonNext";
                next.textContent = "Save";
                document.getElementById("radioButtonContainer" + (lastDivTagValue)).appendChild(next);
                next.onclick = function () {
                    const url = baseUrl + "/AnswerQuestions/DeserializeJsonString/" + JSON.stringify(allquestionsandanswers);
                    $.post(url, (data) => console.log(data));
                    location.href = "MainWindow";
                }
            }

        </script>

        <div>
            <img id="infotechLogo" src="images/InfotechLogo.png" class="img-fluid" alt="Responsive image">
        </div>
        <div>
            <form method="post" asp-page-handler="SubmitCompanyName">
                <input type="text" class="companyName" name="companyName" placeholder="Company name" value="@Model.CompanyName" />
                <input type="submit" class="companyNameBtn" value="Submit" />
            </form>
        </div>

        <div>
            <form method="post" asp-page-handler="SecurityCheckTypeChanged">
                <select class="dropdown comboBox" name="securityCheck" onchange="this.form.submit()">
                    @for (int i = 0; i < @Model.SecurityCheckType.Count; i++)
                    {
                        if (i == @Model.SelectedSecurityCheck)
                        {
                            <option selected>@Model.SecurityCheckType[i]</option>
                        }
                        else
                        {
                            <option>@Model.SecurityCheckType[i]</option>
                        }
                    }
                </select>
            </form>
        </div>
    </div>

</body>
</html>