@page
@model Questionnaire_Frontend.Pages.MainWindow

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>MainWindow</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="files/mainwindow/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="base">
    <div>
        <img id="infotechLogo" src="images/InfotechLogo.png" class="img-fluid" alt="Responsive image">

        <div>
            <form method="post" asp-page-handler="NewSecurityCheck">
                <input id="createNewCheckBtn" type="submit" value="New Check"/>
            </form>
        </div>

        <div>
            <form method="post" asp-page-handler="SecurityCheckListChanged">
                <select id="securityCheckList" size="@Model.SecurityChecks.Count" onchange="this.form.submit()" name="selectedItem">
                    @for (int i = 0; i < @Model.SecurityChecks.Count; i++)
                    {
                        @if (i == @Model.SelectedSecurityCheckIndex)
                        {
                            <option class="listGroupSelected" selected="selected">@Model.SecurityChecks[i]</option>
                        }
                        else
                        {
                            <option class="listGroupSelected">@Model.SecurityChecks[i]</option>
                        }
                    }
                </select>
                <input id="openSelectedBtn" type="submit" value="Open Selected" asp-page-handler="OpenSelectedCheck"/>
            </form>
        </div>

        <!-- Change Password -->
        <div>
            <a asp-page-handler="RedirectChangePassword">
                <img id="settingsBtn" src="images/mainwindow/u6.svg" alt="settings"/>
            </a>
        </div>

        <!-- Update Security Check -->
        <div>
            <a asp-page-handler="RedirectToUpdateSecurityCheck">
                <img id="pencilBtn" src="images/mainwindow/u7.svg" alt="update security check"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>