@page
@model Questionnaire_Frontend.Pages.UpdateSecurityCheck

@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>UpdateSecurityCheck</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="files/updatesecuritycheck/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div>
        <img id="infotechLogo" src="images/InfotechLogo.png" class="img-fluid" alt="Responsive image">
        <label id="errorText">@Model.ErrorText</label>
        
        <!-- Question list -->
        <div>
            <form method="post" asp-page-handler="QuestionListPoolChanged">

                <select id="questionPoolListBox" size="@Model.QuestionsListPool.Count" onchange="this.form.submit()" name="selectedQuestion">
                    @for (int i = 0; i < @Model.QuestionsListPool.Count; i++)
                    {
                        @if (i == @Model.SelectedQuestionPoolIndex)
                        {
                            <option class="listGroupSelected dropdown-item" selected="selected">@Model.QuestionsListPool[i]</option>
                        }
                        else
                        {
                            <option class="listGroupSelected dropdown-item">@Model.QuestionsListPool[i]</option>
                        }
                    }

                </select>
                <input id="addQuestionToSecurityCheckBtn" type="submit" value="Add" asp-page-handler="AddQuestionToSecurityCheck"/>
            </form>
        </div>


        <!-- Security Check Combo box -->
        <div>
            <form method="post" asp-page-handler="SecurityCheckQuestionPoolChanged">
                <select id="securityCheckQuestionPoolComboBox" class="dropdown" onchange="this.form.submit()" name="securityCheckItem">

                    @for (int i = 0; i < @Model.SecurityCheckList.Count; i++)
                    {
                        Console.WriteLine(Model.SecurityCheckList[i]);
                        if (i == @Model.SelectedSecurityCheckIndex)
                        {
                            <option selected="selected">@Model.SecurityCheckList[i]</option>
                        }
                        else
                        {
                            <option>@Model.SecurityCheckList[i]</option>
                        }
                    }
                </select>
                <input id="deleteQuestionFromSecurityCheckBtn" type="submit" value="Remove" asp-page-handler="DeleteQuestionFromSecurityCheck"/>
            </form>
        </div>


        <!-- Questions for Selected Security Check -->
        <div>
            <form method="post" asp-page-handler="SecurityCheckQuestionListChanged">

                <select id="securityCheckListBox" size="@Model.SecurityCheckQuestionListPool.Count" onchange="this.form.submit()" name="selectedQuestion">
                    @for (int i = 0; i < @Model.SecurityCheckQuestionListPool.Count; i++)
                    {
                        @if (i == @Model.SelectedSecurityCheckQuestionPoolIndex)
                        {
                            <option class="listGroupSelected dropdown-item" selected="selected">@Model.SecurityCheckQuestionListPool[i]</option>
                        }
                        else
                        {
                            <option class="listGroupSelected dropdown-item">@Model.SecurityCheckQuestionListPool[i]</option>
                        }
                    }

                </select>
            </form>
        </div>

        <!-- Create new Security Check -->
        <div>
            <form method="post" asp-page-handler="NewSecurityCheck">
                <input id="newSecurityCheckTextBox" type="text" placeholder="Security Check name" name="securityCheckName">
                <button id="newSecurityCheckBtn" type="submit">Create</button>
            </form>
        </div>

        <!-- Category Combo Box -->
        <form method="post" asp-page-handler="CategoryChanged">
            <select id="categoryComboBox" class="dropdown" onchange="this.form.submit()" name="categoryItem">

                @for (int i = 0; i < @Model.CategoryList.Count; i++)
                {
                    Console.WriteLine(Model.CategoryList[i]);
                    if (i == @Model.SelectedCategoryIndex)
                    {
                        <option selected="selected">@Model.CategoryList[i]</option>
                    }
                    else
                    {
                        <option>@Model.CategoryList[i]</option>
                    }
                }
            </select>
            <input type="submit" id="deleteCriticalityBtn" name="categoryItem" value="Delete" asp-page-handler="DeleteSelectedCategory"/>
        </form>

        <!-- Category -->
        <div>
            <form method="post">
                <input type="text" id="addNewCriticality" name="newCategory" placeholder="New Category">
                <input type="submit" id="addNewCriticalityBtn" value="Create" asp-page-handler="AddNewCategory"/>

            </form>
        </div>

        <!-- Add New Question Button -->
        <div>
            <form method="post" asp-page-handler="AddNewQuestion">
                <input id="addNewQuestionBtn" type="submit" value="Add New Question">
            </form>
        </div>

        <div>
            <form method="post">
                <!-- Question text box -->
                <input id="questionTextBox" type="text" placeholder="question" name="question" value="@Model.QuestionsListPool[Model.SelectedQuestionPoolIndex]">
                <input id="updateBtn" type="submit" value="Update" asp-page-handler="UpdateQuestion">

                <!-- 0 -->
                <label id="questionZeroLabel">0</label>
                <input id="questionZeroTextBox" type="text" name="answerZero" value="@Model.txtAnswerZero">

                <!-- 1 -->
                <label id="questionOneLabel">1</label>
                <input id="questionOneTextBox" type="text" name="answerOne" value="@Model.txtAnswerOne">

                <!-- 2 -->
                <label id="questionTwoLabel">2</label>
                <input id="questionTwoTextBox" type="text" name="answerTwo" value="@Model.txtAnswerTwo">

                <!-- 3 -->
                <label id="questionThreeLabel">3</label>
                <input id="questionThreeTextBox" type="text" name="answerThree" value="@Model.txtAnswerThree">

                <!-- Delete Answers -->
                <input id="deleteBtn" type="submit" value="Delete Question" asp-page-handler="DeleteQuestion"/>
            </form>
        </div>

        <!-- Back Btn -->
        <button id="backBtn" type="submit">
            <a asp-page-handler="RedirectToMainWindow">
                Back
            </a>
        </button>
    </div>
</div>
</body>
</html>