@page
@using Questionnaire_Frontend.Pages
@model Questionnaire_Frontend.Pages.UpdateSecurityCheck

@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>UpdateSecurityCheck</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="files/updatesecuritycheck/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div>
        <img id="infotechLogo" src="images/InfotechLogo.png" class="img-fluid" alt="Responsive image">

        <!-- Question list -->
        <div>
            <form method="post" asp-page-handler="QuestionList">

                <select id="questionListBox" size="@Model.QuestionsList.Count" onchange="this.form.submit()" name="selectedQuestion">
                    @for (int i = 0; i < @Model.QuestionsList.Count; i++)
                    {
                        @if (i == @Model.SelectedQuestionIndex)
                        {
                            <option class="listGroupSelected dropdown-item" selected="selected">@Model.QuestionsList[i]</option>
                        }
                        else
                        {
                            <option class="listGroupSelected dropdown-item">@Model.QuestionsList[i]</option>
                        }
                    }

                </select>
            </form>
        </div>

        <!-- Security Check Combo box -->
        <div>
            <form method="post" asp-page-handler="AddNewCategory">
                <input type="text" id="addNewCriticality" name="newCategory" placeholder="New Category" value="@Model.CategoryList[@Model.SelectedCategoryIndex]">
                <input type="submit" id="addNewCriticalityBtn" value="Create"/>
            </form>
        </div>

        <!-- Create new Security Check -->
        <div>
            <form method="post" asp-page-handler="NewSecurityCheck">
                <input id="newSecurityCheckTextBox" type="text" placeholder="Security Check name" name="securityCheckName">
                <button id="newSecurityCheckBtn" type="submit">Create</button>
            </form>
        </div>

        <!-- Category Combo Box -->
        <form method="post" asp-page-handler="CategoryChanged">
            <select id="categoryComboBox" class="dropdown" onchange="this.form.submit()" name="categoryItem">

                @for (int i = 0; i < @Model.CategoryList.Count; i++)
                {
                    if (i == @Model.SelectedCategoryIndex)
                    {
                        <option selected>@Model.CategoryList[i]</option>
                    }
                    else
                    {
                        <option>@Model.CategoryList[i]</option>
                    }
                }
            </select>
        </form>


        <!-- Update -->
        <div>
            <form method="post" asp-page-handler="UpdateQuestion">
                <input id="updateBtn" type="submit" value="Update">
            </form>
        </div>

        <!-- Add New Question Button -->
        <div>
            <form method="post" asp-page-handler="AddNewQuestion">
                <input id="addNewQuestionBtn" type="submit" value="Add New Question">
            </form>
        </div>

        <div>
            <form method="post">
                <!-- Question text box -->
                <input id="questionTextBox" type="text" placeholder="question" name="question" value="@UpdateSecurityCheck.SelectedQuestion">

                <!-- 0 -->
                <label id="questionZeroLabel">0</label>
                <input id="questionZeroTextBox" type="text" name="answerZero">

                <!-- 1 -->
                <label id="questionOneLabel">1</label>
                <input id="questionOneTextBox" type="text" name="answerOne">

                <!-- 2 -->
                <label id="questionTwoLabel">2</label>
                <input id="questionTwoTextBox" type="text" name="answerTwo">

                <!-- 3 -->
                <label id="questionThreeLabel">3</label>
                <input id="questionThreeTextBox" type="text" name="answerThree">

                <!-- Save Answers -->
                <input id="saveAnswersBtn" type="submit" value="Save Answers" asp-page-handler="ChangeAnswer"/>
                <!-- Delete Answers -->
                <input id="deleteBtn" type="submit" value="Delete Question" asp-page-handler="DeleteQuestion"/>
            </form>
        </div>

        <!-- Back Btn -->
        <button id="backBtn" type="submit">
            <a asp-page-handler="RedirectToMainWindow">
                Back
            </a>
        </button>
    </div>
</div>
</body>
</html>