@page
@model Questionnaire_Frontend.Pages.UpdateSecurityCheck

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>UpdateSecurityCheck</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/updatesecuritycheck/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="base" class="">

    <img id="infotechLogo" src="images/InfotechLogo.png" class="img-fluid" alt="Responsive image">

    <!-- Question list -->
    <div>
        <form method="post" asp-page-handler="AnyMethod">
            <select id="questionListBox" size="@Model.QuestionsList.Count" >
                @for (int i = 0; i < @Model.QuestionsList.Count; i++)
                {
                    <option class="listGroupSelected">@Model.QuestionsList[i]</option>
                }
            </select>
        </form>
    </div>

    <!-- Create new Security Check -->
    <input id="newSecurityCheckTextBox" type="text" placeholder="Security Check name">
    <input id="newSecurityCheckBtn" type="button" placeholder="Create">

    <!-- Security Check List -->
    <select id="securityCheckList" class="dropdown">
        <option selected>@Model.SecurityCheckList[0]</option>
        @for (int i = 1; i < @Model.SecurityCheckList.Count; i++)
        {
            <option>@Model.SecurityCheckList[i]</option>
        }
    </select>

    <input id="questionTextBox" type="text" placeholder="question">

    <!-- Criticality Combo Box -->
    <select id="criticalityComboBox" class="dropdown ">
        <option selected>@Model.Criticality[0]</option>
        @for (int i = 1; i < @Model.Criticality.Count; i++)
        {
            <option>@Model.Criticality[i]</option>
        }
    </select>

    <!-- Category Combo Box -->
    <select id="categoryComboBox" class="dropdown ">
        <option selected>@Model.Category[0]</option>
        @for (int i = 1; i < @Model.Category.Count; i++)
        {
            <option>@Model.Category[i]</option>
        }
    </select>

    <!-- Unnamed (Rectangle) -->
    <div id="u109" class="ax_default button">
        <div id="u109_div" class=""></div>
        <div id="u109_text" class="text ">
            <p>
                <span>Delete</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u110" class="ax_default button">
        <div id="u110_div" class=""></div>
        <div id="u110_text" class="text ">
            <p>
                <span>Update</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u111" class="ax_default button">
        <div id="u111_div" class=""></div>
        <div id="u111_text" class="text ">
            <p>
                <span>Save All Changes</span>
            </p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u112" class="ax_default button">
        <div id="u112_div" class=""></div>
        <div id="u112_text" class="text ">
            <p>
                <span>Add new Question</span>
            </p>
        </div>
    </div>


    <!-- Add New Question Button -->
    <div>
        <form method="post" asp-page-handler="AddNewQuestion">
            <input id="addNewQuestionBtn" type="submit" value="Add New Question">
        </form>
    </div>

    <!-- 0 -->
    <label id="questionZeroLabel">0</label>
    <input id="questionZeroTextBox" type="text">

    <!-- 1 -->
    <label id="questionOneLabel">1</label>
    <input id="questionOneTextBox" type="text">

    <!-- 2 -->
    <label id="questionTwoLabel">2</label>
    <input id="questionTwoTextBox" type="text">

    <!-- 3 -->
    <label id="questionThreeLabel">3</label>
    <input id="questionThreeTextBox" type="text">


    <!-- Unnamed (Rectangle) -->
    <div id="u125" class="ax_default button">
        <a asp-page-handler="RedirectToMainWindow">
            <div id="u125_div" class=""></div>
            <div id="u125_text" class="text ">
                <p>
                    <span>Back</span>
                </p>
            </div>
        </a>
    </div>


</div>
<script src="resources/scripts/axure/ios.js"></script>
</body>
</html>